<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <title>Caspar Loop Control</title>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io.connect('http://' + window.location.host);

    function play(filename) {
      console.log("Playing " + filename)
      socket.emit('play', {
        "file": filename
      });
    }

    function stop() {
      console.log("Stopping");
      socket.emit('stop');
    }

	function offAir() {
      console.log("Off Air");
      socket.emit('offAir');
    }
  </script>
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-default">
      <h1 style="padding: 10px;">
        Welcome to Caspar Loop Control Version
        <%=version%>
        <div class="btn-group" style="float: right;">
		        <button class="btn btn-danger" onclick="offAir()">Off Air</button>
            <button class="btn btn-danger" onclick="stop()">Stop Loop</button>
        </div>
      </h1>
    </nav>

    <h3>
      Here's the list of available 'movie' items.
    </h3>
    <ul>
      <% function toTitleCase(str)
      {
        return str.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
      }%>
        <% for( var i in files){%>
          <%if (files[i].type == "MOVIE"){%>
            <button type="button" class="btn btn-warning " onclick="play('<%=files[i].file%>')">
              <%= toTitleCase(files[i].file.replace(/-/g," ").replace(/_/g," ")) %>
            </button>
            <%};%>
              <%};%>
    </ul>
    <h3>
      Enter a RTMP link below to start a stream ABOVE the loop
    </h3>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="rtmp://" aria-describedby="basic-addon2">
      <span class="input-group-addon" id="basic-addon2"><span class="label label-success"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></span></span>
      <span class="input-group-addon" id="basic-addon2"><span class="label label-danger"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span></span></span>
    </div>

  </div>
</body>

</html>
